[submodule "bb_cov"]
	path = bb_cov
	url = https://github.com/ahcheongL/bb_cov.git
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
[submodule "Angora"]
	path = Angora
	url = https://github.com/yheechan/Angora.git
